@use '../../../styles/_variables' as *;

.player {
  position: relative;
  min-height: 100vh;
  background-color: $bg;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  min-height: 0;
  position: relative;
}

.gridArea {
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
}
