@use '../../../styles/_variables' as *;

.page {
  text-align: center;
  color: $text-primary;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: $text-secondary;
  font-size: 0.875rem;
  font-family: 'JetBrains Mono', monospace;
}
