@use '../../../styles/_variables' as *;

.page {
  min-height: 100vh;
  background-color: $bg;
  color: $text-primary;
  padding-top: 5rem;
  padding-left: 1.5rem;
}

.title {
  font-size: 1.75rem;
  font-weight: 500;
  font-family: 'Archivo', sans-serif;
}
