@use '../../../../styles/_variables' as *;

.section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.heading {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 700;
  color: $text-primary;
}
