.page {
  min-height: 100vh;
  background-color: #030303;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: #A1A1AA;
  font-family: 'JetBrains Mono', monospace;
}
