@use '../../../../styles/_variables' as *;

.page {
  min-height: 100vh;
  background-color: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: $text-secondary;
  font-family: 'Space Mono', monospace;
}
